<div class="welcome" fxLayout="column" fxLayout.lg="raw" fxLayoutAlign="space-around center" fxLayoutGap="50px">
  <section>
    <mat-card>
    <h1>ACTIVITY</h1>
    <mat-icon>motorcycle</mat-icon>
    <p>Stay active and enjoy better health and more fun!</p>
    </mat-card>
  </section>
  <section>
    <mat-card>
      <h1>COMMUNITY</h1>
      <mat-icon>people</mat-icon>
      <p>Get to know other people who share your passion!</p>
      </mat-card>
  </section>
  <section>
    <mat-card>
      <h1>CHALLANGES</h1>
      <mat-icon>sports_kabaddi</mat-icon>
      <p>Never stop! Dive into new challanges every day!</p>
      </mat-card>
  </section>
</div>